# Editor + OS files
.DS_Store
Thumbs.db
.vscode/

# Node/dev artifacts
node_modules/
dist/
build/

# Backups
*.backup
*.bak
*.orig

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Chrome extension packaged files
*.crx

# IDE files
*.sublime-workspace
.idea/
